/* CSS declarations go here */
body {
    background-color: #fcd069;
}

.datepicker{
    z-index:1151 !important;
}

.container{
    background-color: #FDE3A7;
    border-radius: 5px;
    font-size: 125%;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
    overflow: hidden;
}

.text-danger{
    color: #F22613;
}

.notice{
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.notice .glyphicon {
    font-size: 200%;
}